# ! All os-dependent things related to workstation and team tools located
# in GLOBAL STANDALONE NT-gitignore in NTW/workstation/.ntw/gitconfig/gitignore-global
# -------------------------------------
# PER PROJECT IGNORANCE LIST:
# -------------------------------------

# Jekyll temp files and folders
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
